body {
  background-color: #fde6e6; /
}

h1 {
  color: #e13d3d; 
  font-size: 36px; 
  text-align: center;
  margin-top: 50px; 
}


.search {
  margin: 20px auto; /* 中央に配置 */
  text-align: center;
}

.search label {
  font-weight: bold; 
  margin-right: 10px; 
}

.search input[type="text"] {
  padding: 8px;
  border: 2px solid #e13d3d; 
  border-radius: 5px; 
}

.search button {
  padding: 8px 20px; 
  background-color: #e13d3d; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}
.search button:hover {
   color: #e13d3d; 
   background-color: #fde6e6;
  text-decoration: none; 
}


.login {
  text-align: right;
  margin-top: 20px; 
}

.login a {
  color: #e13d3d; 
  text-decoration: none; 
}

.login a:hover {
  text-decoration: underline; 
}

/* 本文のスタイル */
p {
  text-align: justify; /* 両端揃え */
  margin-left: 200px;
  margin-right: 200px; 
  width: auto;
  margin-left:200px;
  margin-right: 200px;
  border-left: solid 20px #e13d3d;
  padding: 10px;
}

/* メイン画像のスタイル */
.mainimage{
  width: 350px;
  height: 250px;
  display: block;
  border-radius: 10px;
  margin: 20px auto; 
  margin-left: 200px;
}

.mainimage:hover {
  opacity: 0.7; /* マウスを乗せた時の透明度 */
}


.mainlink {
  text-decoration: none; 
  color: #e13d3d; 
  font-weight: bold; 
}

.mainlink:hover {
  text-decoration: underline;
}

body {
  text-align: center;
} 