body {
  background-color: #fde6e6; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #e13d3d;
    color: #fff; 
    
}
p {
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height: 1.6;
}

h3 {
    color: #e13d3d; 
    background-color: #fff;
    font-size: 24px; 
    margin-bottom: 10px; 
}

img {
    display: block; 
    margin: 0 auto; 
    border-radius: 5px; 
}

